In [1]:
%pip install numpy pandas pandas_ta

Requirement already satisfied: numpy in /opt/miniconda3/envs/aevo/lib/python3.12/site-packages (1.26.4)
Requirement already satisfied: pandas in /opt/miniconda3/envs/aevo/lib/python3.12/site-packages (2.2.1)
Requirement already satisfied: pandas_ta in /opt/miniconda3/envs/aevo/lib/python3.12/site-packages (0.3.14b0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/miniconda3/envs/aevo/lib/python3.12/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/miniconda3/envs/aevo/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/miniconda3/envs/aevo/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/miniconda3/envs/aevo/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd
import pandas.io.sql as sqlio
import psycopg2 as pg
import pandas_ta as ta
from trade.utils.sql import SQL_ANALYSIS_LAG


conn = pg.connect(user="admin",
                  password="quest",
                  host="127.0.0.1",
                  port="8812",
                  database="qdb")
sql = SQL_ANALYSIS_LAG.format(exchange='binance', suffix=1, inst='ETH-USDT')
df = sqlio.read_sql_query(sql, conn)

df.set_index(pd.DatetimeIndex(df["startTime"]), inplace=True)

/var/folders/6z/t10db8p54wjf5j0vl0yq9lc00000gn/T/ipykernel_20558/627293554.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = sqlio.read_sql_query(sql, conn)

In [3]:
df.ta.log_return(cumulative=True, append=True)

startTime
2024-03-02 23:00:00    0.000000
2024-03-03 00:00:00    0.001886
2024-03-03 01:00:00    0.002732
2024-03-03 02:00:00   -0.001550
2024-03-03 03:00:00    0.002965
2024-03-03 04:00:00    0.005596
2024-03-03 05:00:00    0.000000
2024-03-03 06:00:00   -0.002602
2024-03-03 07:00:00   -0.008406
2024-03-03 08:00:00   -0.007637
2024-03-03 09:00:00   -0.004212
2024-03-03 10:00:00   -0.006139
2024-03-03 11:00:00   -0.002344
2024-03-03 12:00:00   -0.000553
2024-03-03 13:00:00    0.000692
Name: CUMLOGRET_1, dtype: float64

In [4]:
df.head()

,inst,open,high,low,close,volume,startTime,endTime,interval,quoteVolume,trades,takerBuyBaseVolume,takerBuyQuoteVolume,price_lag_1,price_lag_2,CUMLOGRET_1
startTime,,,,,,,,,,,,,,,,
2024-03-02 23:00:00,ETH-USDT,3404.01,3421.48,3404.00,3421.40,6500.4525,2024-03-02 23:00:00,2024-03-02 23:59:59.999,1h,2.220275e+07,24546,3565.5869,1.217710e+07,NaN,NaN,0.000000
2024-03-03 00:00:00,ETH-USDT,3421.39,3431.00,3409.10,3427.86,13926.4053,2024-03-03 00:00:00,2024-03-03 00:59:59.999,1h,4.764907e+07,47448,6619.8496,2.265377e+07,3404.01,NaN,0.001886
2024-03-03 01:00:00,ETH-USDT,3427.86,3434.00,3422.42,3430.76,10359.4624,2024-03-03 01:00:00,2024-03-03 01:59:59.999,1h,3.551396e+07,34829,5117.7050,1.754446e+07,3421.39,3404.01,0.002732
2024-03-03 02:00:00,ETH-USDT,3430.75,3430.97,3410.81,3416.10,8935.3151,2024-03-03 02:00:00,2024-03-03 02:59:59.999,1h,3.054830e+07,32807,4368.1579,1.493251e+07,3427.86,3421.39,-0.001550
2024-03-03 03:00:00,ETH-USDT,3416.11,3431.86,3415.16,3431.56,8976.9543,2024-03-03 03:00:00,2024-03-03 03:59:59.999,1h,3.075216e+07,28175,5499.8052,1.883865e+07,3430.75,3427.86,0.002965